<h1>Listing addressestablishments</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Establishment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addressestablishments.each do |addressestablishment| %>
      <tr>
        <td><%= addressestablishment.address %></td>
        <td><%= addressestablishment.latitude %></td>
        <td><%= addressestablishment.longitude %></td>
        <td><%= addressestablishment.establishment %></td>
        <td><%= link_to 'Show', addressestablishment %></td>
        <td><%= link_to 'Edit', edit_addressestablishment_path(addressestablishment) %></td>
        <td><%= link_to 'Destroy', addressestablishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addressestablishment', new_addressestablishment_path %>

