<%= form_for @locationestablishment do |f| %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :establishment %><br />
    <%= collection_select(:establishment, :establishment_id, Establishment.all, :id, :reason, :prompt => 'selecione o estabelecimento') %>
  </p>
  <p><%= f.submit %></p>
<% end %>
