					<% @rec.each do |establishment_rec| %>
					<!-- ==============================================
					First Rec
					=============================================== -->
					<div class="span6" style="width:400px; margin-bottom:30px; padding:20px; background:#E3DFDC; height:300px;">
						<div class="icon-container float-left" style="with:300px; height:200px; margin-bottom:20px;">
							<%= image_tag establishment_rec.imageprofile_url(:banner_thumb), :style => "width:200px; margin-bottom:20px;" %>
						</div>
						<div style="float:right; width:156px; height:210px; ">
						<p style="font-weight:bold; font-size:14px; color:#818181;"><strong><%= link_to establishment_rec.reason, establishment_rec, :style => 'font-size:18px; color:#01334e;'  %></strong></p>
						<p><i class="icon-map-marker">&nbsp;<%= establishment_rec.city.name %></i></p>
						<% aux = Offer.where("establishment_id = ?", establishment_rec.id).count %>
						<% if aux <= 1 %>
						<% message_offer = "#{aux} oferta ativa" %>
						<% else %>
						<% message_offer = "#{aux} ofertas ativas" %>
						<% end %>
						<p><i class="icon-tag">&nbsp;<%= message_offer %> </i></p>

						<p><i class="icon-heart">&nbsp;<%= LikeEstablishment.where("establishment_id = ?", establishment_rec).count %> curtiram </i></p>
						

					</div><br />
					<div style="clear:both;"></div>
					<div style="width:100%; height:40px; padding:6px; margin-top:10px; background:#01334e;"><center><p style="text-decoration:none;"><u><%= link_to 'Conhecer', establishment_rec, :style => 'text-decoration:none; color:white; font-size:18px; margin-top:5px;' %></u></p></center></div>
					</div>

					<!-- End First rec 
					============================================== -->
                    <% end %>
                    