
		<!-- ==============================================
		Header
		=============================================== -->
		<section class="header">
			<div class="container">
				<div class="row">
					<div class="span12">

						<!-- ==============================================
						Logo
						=============================================== -->
						<div class="logo float-left">
							<a href="#top">
								<%= link_to image_tag('/landing/images/logo01.png'), root_path %>
							</a>
						</div>
						<!-- End Logo 
						=============================================== -->

						<!-- ==============================================
						Navigation
						=============================================== -->
						<ul class="nav hidden-phone hidden-tablet">
							<li><a href="#top">Inicio</a></li>
							<li><a href="#recomendamos">Recomendamos</a></li>
							<li><a href="#tops">Tops</a></li>
							<li><a href="#onde">Onde?</a></li>
							<li><%= link_to "Anúncie", {:controller => 'landing', :action => 'anuncie'} %></li>
							<li><%= link_to "Entrar", {:controller => "home", :action => "nearme"}, :style => 'background:#3097be; color:white;' %></li>
						</ul>
						<!-- End Navigation 
						=============================================== -->

						<!-- ==============================================
						Mobile Navigation
						=============================================== 
						<form name="nav" class="float-right">
				         	<select class="mobile-nav hidden-desktop" data-autogenerate="true"></select>
				        </form>
				        End Mobile Navigation 
						=============================================== -->

					</div>
				</div>
			</div>
		</section>
		<!-- End Header 
		=============================================== -->

		<!-- ==============================================
		Teaser
		=============================================== -->
		<section class="teaser">
			<div class="container">
				<div class="row">

					<!-- ==============================================
					Slider
					=============================================== -->
					<div class="span7 offset5" style="margin-top:100px; margin-left:0px; height:260px; background:#000; opacity:0.65; -moz-opacity: 0.65; filter: alpha(opacity=65); border-radius:10px; padding:30px;">
						<!--<div class="flexslider">
						 	<ul class="slides">
						  	</ul>
						</div>-->

						<h1 style="color:#fff; font-weight:bold;">
							Conheça o Traz Cupom! <%= @a %>
						</h1><br />
						<h5 style="font-weight:bold; color:#fff;">Pegue cupons de descontos gratuitos dos melhores estabelecimentos de sua cidade sem pagar nada por isso.</h5><br />
						<div style="float:left; width:90%;">
						<%= collection_select(:city, :city_id, City.all, :id, :name, :prompt => 'Selecione sua cidade', :class => 'city') %>
						</div>
						<div class="plan-row button-row" >
						<%= link_to "Entrar", {:controller => "home", :action => "nearme"}, :style => 'background:#01334e; color:white;', remote: true, :id => 'entrar' %><br />

						<div class="fb-like" data-href="http://www.facebook.com/TrazCupom" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
						</div>
					</div>

					<div style="width:542px; height:383px;position:absolute; margin-left:500px; margin-top:120px; background: url('/landing/images/mobiletraz.png') no-repeat;"></div>
					<!-- End Slider
					=============================================== -->

				</div>
			</div>
		</section>
		<!-- End Teaser 
		============================================== -->
 <div style="width:100%; height:6px; background:#01334e;"></div>
		<!-- ==============================================
		Intro
		=============================================== -->
		<section class="intro white-background">
			<div class="container">
				<div class="row">


					<div class="span7 offset1" style="margin-left:-15px; padding-left:13px;">
						<h2 class="padding-top">Encontre inúmeros cupons de descontos dos melhores estabelecimentos de sua <span>cidade </span> gratuitamente!</h2>
						<p>Agora você pode baixar gratuitamente inúmeros cupons de descontos. Pode navegar pelos estabelecimentos, conferir o que seus amigos estão baixando e consumindo!</p>
						<p>Não perca mais tempo, comece agora mesmo a economizar e consumir produtos e serviços por toda a cidade.
						Cadastre-se, rápido e facilmente. Convide seus amigos e inicie esta grande jornada de descontos....</p>

					</div>
						<div style="float:left; padding-top:100px; width:40%; height:250px; padding-left:30px;">
						<img src="/landing/images/economy.png">
						</div>
				</div>
			</div>
		</section>
		<!-- End Intro 
		============================================== -->

		<!-- ==============================================
		Features
		=============================================== -->
		<section class="features light-gray-background" id="recomendamos">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="no-margin-bottom" style="color:#01334e;">Recomendamos</h1>
						<hr>
					</div>
				</div>
			<div class="row" id="results">
			<div id="estab" style="margin-bottom:30px;">
				<%= render 'establishments' %>
				 </div>
			</div>
			<div style="margin-top:130px;">
		<div id="carregando"><center><img src='/home/images/loading.gif' width='24' height='24' /></center></div>
		 <div id="append_and_paginate" >
		<center><%= will_paginate @rec, :params => { :controller => "landing", :action => "ticket" }, :renderer => WillPaginateRenderers::Twitter %></center>
				</div>
				</div>
		
		</section>
		<!-- End Features 
		============================================== -->

		<!-- ==============================================
		Hero Section
		=============================================== -->
		<section class="color-background hero-section">
			<div class="container">
				<div class="row">
					<div class="span9">
						<h2 class="no-margin-bottom">Comece a usar agora mesmo o Traz Cupom e aproveite inúmeros cupons de descontos!</h2>
					</div>
					<div class="span3">

						<%= link_to "Começar", {:controller => "home", :action => "nearme"}, :class => "button-dark" %>
						
					</div>
				</div>
			</div>
		</section>
		<!-- End Hero Section 
		============================================== -->

		

		<!-- ==============================================
		Plans
		=============================================== -->
		<section class="white-background plans" id="tops">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1 class="no-margin-bottom" style="color:#01334e;">Cupons mais baixados</h1>
						<h4>Reunimos os cupons mais baixados para você.</h4>
						<div class="row">
							
							<div id="ticketsloop" style="">

								<%= render 'tickets' %>
							
							</div><br />
							<center><div id="carregandot" style=""><img src='/home/images/loading.gif' width='24' height='24' /></div></center>
					 <div id="append_and_paginate"  style="margin-top:30px;">
					<center><%= will_paginate @tickets, :params => { :controller => "landing", :action => "ticket" }, :class => 'pagination_ticket', :renderer => WillPaginateRenderers::Twitter %></center>

									</div>

					</div>
				</div>
				<div class="row">
				</div>	
			</div>
		</section>
		<!-- End Plans
		============================================== -->

		<!-- ==============================================
		Testimonials
		=============================================== -->
		<section class="testimonials gray-background" id="onde">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2 class="no-margin-bottom">Onde o Traz Cupom é a melhor opção</h2>
						<h4>Os melhores momentos para você utilizar o Traz Cupom no seu dia a dia.</h4>
					</div>

					<!-- ==============================================
					First Testimonial
					=============================================== -->
					<div class="span4">
						<div class="bubble">
							Quando você vai ao
							salão para cortar apenas o cabelo e acaba realizando outros serviços, é uma ótima ocasião para acompanhar o Traz Cupom.
							
						</div>
						<div class="person">
							<img src="/landing/images/beautyhair.jpg" width="100" height="100" alt="" class="float-left">
							<h3 class="no-margin-bottom" style="font-weight:bold;">Para você</h3>
							<h4>Salões de beleza, clinicas de estética e fitness.</h4>
						</div>
					</div>
					<!-- End First Testimonial
					============================================== -->

					<!-- ==============================================
					Second Testimonial
					=============================================== -->
					<div class="span4">
						<div class="bubble">
							Quando você sai do
							trabalho louco para convidar os colegas para um happy hour,
							e sabe que possui cupons de desconto para economizar muito.

							
						</div>
						<div class="person">
							<img src="/landing/images/happy-hour.png" width="100" height="100" alt="" class="float-left">
							<h3 class="no-margin-bottom" style="font-weight:bold;">Na Balada</h3>
							<h4>Casas noturnas, bares e boates.</h4>
						</div>
					</div>
					<!-- End Second Testimonial
					============================================== -->

					<!-- ==============================================
					Third Testimonial
					=============================================== -->
				<div class="span4">
						<div class="bubble">
							Quando você resolve 
							acompanhar sua familia para um almoço de domingo,
							e avisa que possui cupons de desconto para utilizar.
							
						</div>
						<div class="person">
							<img src="/landing/images/tableeat.jpg" width="100" height="100" alt="" class="float-left">
							<h3 class="no-margin-bottom" style="font-weight:bold;">Com a familia</h3>
							<h4>Restaurantes, cinema e lazer.</h4>
						</div>
					</div>
					<!-- End Third Testimonial
					============================================== -->

				</div>
			</div>
		</section>
		<!-- End Testimonials
		============================================== -->

		<!-- ==============================================
		Footer
		=============================================== -->
		<section class="footer dark-gray-background">
			<div class="container">
				<div class="row">
					<div class="span6">
						<p class="no-margin-bottom">iFollow Agência Digital.<br>
						Rua Dom Aquino, 2045 - sala 03<br>
						(67) 3025-3547<br>
						<a href="#">contato@trazcupom.com</a></p>
						<p><strong><%= link_to 'Área do parceiro', :controller => 'partner', :action => 'login'
 %></strong></p>			
					</div>
					<!-- ==============================================
					Social
					=============================================== -->
					<div class="span6">
						<ul class="social float-right">
							<li><a href="#"><i class="icon-google-plus"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
						</ul>
						<p class="no-margin-bottom float-right copyright">Copyright &copy; 2013 <a href="#">Traz Cupom </a>. Todos os direitos reservados</p>
					</div>
					<!-- End Social
					============================================== -->
				</div>
			</div>
		</section>
		<!-- End Footer
		============================================== -->