<h1>Listing likeestablishments</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Establishment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @likeestablishments.each do |likeestablishment| %>
      <tr>
        <td><%= likeestablishment.count %></td>
        <td><%= likeestablishment.establishment %></td>
        <td><%= link_to 'Show', likeestablishment %></td>
        <td><%= link_to 'Edit', edit_likeestablishment_path(likeestablishment) %></td>
        <td><%= link_to 'Destroy', likeestablishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Likeestablishment', new_likeestablishment_path %>
