<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @likeestablishment.count %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @likeestablishment.establishment %>
</p>

<%= link_to 'Edit', edit_likeestablishment_path(@likeestablishment) %> |
<%= link_to 'Back', likeestablishments_path %>
