<style type="text/css">
	.circular img{
	width: 32px;
	height: 32px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('/home/images/logo01.png') no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-top: 15px;
	margin-left: 15px;
	}

	#describetext{
font-family: "Brandon",sans-serif;
letter-spacing: 0.05em;
font-size: 12px;
color: #666;
text-transform: uppercase;
white-space: nowrap;
position: relative;
overflow: hidden;
display: block;
width: 80%;
float: left;
margin-left: 45px;
margin-top: -29px;
font-weight: bold;
padding-left: 10px;
	}

	#addresstext{
font-family: "Brandon",sans-serif;
letter-spacing: 0.05em;
font-size: 12px;
color: #666;
text-transform: uppercase;
position: relative;
overflow: hidden;
display: block;
margin-top: -10px;
width: 90%;
height: 70px;
float: left;
margin-left: 19px;


	}

.loopestab a img{


}
h1{color:#01334e;}
</style>



<% @cupons.each do |cupom| %>


<div class="loopestab" style="width:376px; height:480px;  display:inline-block; margin-bottom:105px; margin-left:15px; background:#E3DFDC; ">

<%= link_to image_tag(cupom.image1_url(:giga)), cupom, :ioffer => cupom.id %>
<div id="btnoffers" style="width:266px; margin-left:50px;  margin-top:40px; height:40px; background:#3F6186; ">
	<ul style=" width:100%; height:100%;">
	    <li style="margin-left:5px; width:30%; height:100%;  display:inline-block; padding:10px;">
	    [<%= Commentestab.where("establishment_id = ?", cupom.establishment.id).count %>]
	    	<%= link_to image_tag '/home/images/comment.png' , :style => 'margin-left:10px; width:17px; height:17px'%>
	    </li>

	    <li id="like-<%= cupom.id %>" style="margin-left:5px; width:30%; height:100%; display:inline-block;">
	     <span id="like-count-<%= cupom.id %>">[<%= cupom.like_offers.where(offer_id: cupom.id).first.count %>]</span>
	    	<%= link_to image_tag('/home/images/like.png'), offer_like_path(cupom), data:{ method: :post, remote: true }, remote: true, style: 'margin-left:10px; width:17px; height:17px' %>
	    </li>

	    <li style="margin-left:5px; width:30%; height:100%; display:inline-block; ">
	    	<%= number_to_percentage(get_discount(cupom.id), precision: 0) %> OFF
	    </li>
	</ul>
</div>
<div class="describeestab" style="width:100%; height:100px;">
	<div class="circular">
		<%= image_tag(cupom.establishment.imageprofile_url(:thumb)) %>
	</div>
	<p id="describetext">
		<%= cupom.establishment.reason %>
	</p>
	<p id="addresstext">
	    <%= link_to cupom.name.truncate(80), cupom, :idoffer => cupom.id %>
	</p>
</div>
</div>
<% end %>
