<p id="notice"><%= notice %></p>

<p>
  <strong>Dateinit:</strong>
  <%= @catch.dateinit %>
</p>

<p>
  <strong>Dateend:</strong>
  <%= @catch.dateend %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @catch.offer %>
</p>

<%= link_to 'Edit', edit_catch_path(@catch) %> |
<%= link_to 'Back', catches_path %>
