inks" %>


  <div class="logo" style="position:relative; left:40%; top:10px;">
    <%= link_to image_tag('/landing/images/logo01.png'), root_path %>
  </div>

<!-- Box Start-->
<div id="box_bg">


<div id="content" style="height:376px;">
  <h1>Conecte-se rapidamente ou crie sua conta</h1>
  
  <!-- Social Buttons -->
  <div class="social">
  Conecte-se usando as mídias sociais:  <br/>
  <div class="twitter"><a href="#" class="btn_1">Login com Twitter</a></div>
  <div class="fb"><a href="#" class="btn_2">Login com Facebook</a></div>
  </div>
  
  <!-- Login Fields -->
  <div id="login">Recupere sua senha:<br/>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, :autofocus => true, :class => "login user", :placeholder => "Seu email" %></div>


  <div class="button green"><%= f.submit "Recuperar Senha" %></div>
<% end %>

</div>
</div>
</div>

<!-- Text Under Box -->
<div id="bottom_text">
  <%= link_to "Login", new_session_path(resource_name), :style => "color:white;" %><br/>
  
</div>
