<%= form_for(@imageestablishment) do |f| %>
  <% if @imageestablishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imageestablishment.errors.count, "error") %> prohibited this imageestablishment from being saved:</h2>

      <ul>
      <% @imageestablishment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :establishment %><br>
    <%= collection_select(:imageestablishment, :establishment_id, Establishment.all, :id, :reason, :prompt => 'Selecione o Parceiro') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
