<h1>Listing imageestablishments</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Establishment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @imageestablishments.each do |imageestablishment| %>
      <tr>
        <td><%= imageestablishment.image %></td>
        <td><%= imageestablishment.establishment %></td>
        <td><%= link_to 'Show', imageestablishment %></td>
        <td><%= link_to 'Edit', edit_imageestablishment_path(imageestablishment) %></td>
        <td><%= link_to 'Destroy', imageestablishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imageestablishment', new_imageestablishment_path %>
