<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @imageestablishment.image %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @imageestablishment.establishment %>
</p>

<%= link_to 'Edit', edit_imageestablishment_path(@imageestablishment) %> |
<%= link_to 'Back', imageestablishments_path %>
