<%= form_for(@categoryestablishment) do |f| %>
  <% if @categoryestablishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoryestablishment.errors.count, "error") %> prohibited this categoryestablishment from being saved:</h2>

      <ul>
      <% @categoryestablishment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
