<section id="events" style="background:#dfdfdf;">
<div class="container" style="margin-top:-50px; color:#01334e;">
<!-- section header -->		
		<div class="header">
			<h2 style="color:#01334e;">Perfil</h2>
			<p style="color:#01334e;">Aqui voce poderá alterar todos os seus dados de perfil</p>
		</div>

	<div class="profile" style="color:#01334e; margin-top:-60px; padding:40px; background:#ccc; border:2px solid #888; height:900px;">
 <%= flash[:notice]  %>
	<%=  form_for :user, @user, :url => { :action => "update" } do |f| %>
  <div class="field">
    
    <%= image_tag current_user.image, :style => 'border:1px solid #01334e; width:100px; height:100px;' %><br /><br />
    <%= f.file_field :image, :style => 'width:450px; height:40px;'  %>
  </div><hr />
  <div class="field">
    <%= f.label :name, "Usuario" , :placeholder => current_user.name %>
    <%= f.text_field :name  %>
  </div><br /> <hr />

    <div class="field">
    <%= f.label :namefull, "Nome Completo" , :placeholder => current_user.namefull %>
    <%= f.text_field :namefull  %>
  </div><br /><hr />
  <div id="tel">
    <%= f.label :telefone %>
    <%= f.text_field :phone %>
  </div><br />
  <div class="field">
    <%= f.label :cidade %>
    <%= collection_select(:city, :city_id, City.all, :id, :name, :prompt => 'Selecione sua cidade:', :class => 'select_city')  %>
  </div><br />
  <div class="field">
    <%= f.label :datadenascimento %>
    <%= f.date_field :nascimento , :style => 'width:250px; height:40px; border:1px solid #01334e;' %>
  </div><br />
  <div class="action_container">
    <%= f.submit 'Atualizar dados' %>
  </div>
<% end %>

</div>

</div>

</section>