<%= form_for(@address_establishment) do |f| %>
  <% if @address_establishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_establishment.errors.count, "error") %> prohibited this address_establishment from being saved:</h2>

      <ul>
      <% @address_establishment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :establishment %><br>
    <%= collection_select(:address_establishment, :establishment_id, Establishment.all, :id, :reason, prompt: 'selecione o estabelecimento') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
