<!-- Inicio Section -->
<section id="events" style="background:#f8f8f8;  ">
<div class="container" style="background:#dfdfdf; margin-top:-100px; border:1px solid #ccc;">

<div style="width:250px; height:140px;  margin-left:-23px; background:#01334e; padding:15px; background:url('/landing/images/backdeal.png')">
<!--Div topo offer-->  
 <center><h1 style="text-weight:bold;"><%= number_to_percentage(get_discount(@offer.id), precision: 0) %> OFF</h1></center>
 <h6 style="color:#ccc;">De: <strike><%= number_to_currency(@oldprice, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></strike> </h6>

 <h6 style="color:#fff; font-weight:bold; ">Por:<%= number_to_currency(@youngprice, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %> </h6>
</div>
 <div style="width:70%; height: 130px; margin-left:250px; margin-top:-100px;">
   
   <h1 style="color:#01334e; "><%= @offer.name %></h1>
   <p style="color:#01334e; margin-left:3px; font-weight:bold;"><%= @downloads %> Ja baixaram este cupom </p>
   <p style="color:#01334e;">Aproveite o desconto até: <%= @offer.validity.strftime(" %d/%m/%Y ") %>&nbsp;&nbsp;&nbsp; </p>
    
   <%= link_to "Pegar cupom", {:controller => "user", :action => "download", :idoffer => @offer.id}, :style => 'background:#01334e; color:white; width:200px; height:50px; float:right; margin-top:-60px; padding-left:30px; padding-top:15px; font-size:20px; font-weight:bold;' %><br />
  
 </div> 
<div class="conteiner" style="margin-bottom:30px;">
 <div style="width:540px; min-height:640px; background:#f8f8f8; padding-bottom:10px; margin-left:40px; border:1px solid #ccc; float:left; margin-bottom:40px;" >
  <!-- Slide de fotos da oferta --> 

        <div class="imagem">
             <%= image_tag @offer.image1_url(:giga) %>
        </div>
        <div class="clear"></div>
        <div class="thumbs">
            <%= image_tag @offer.image2_url(:giga) %> 
            <%= image_tag @offer.image3_url(:giga) %>
            <%= image_tag @offer.image4_url(:giga) %>
        </div>
        <br />
        <p style="padding:30px; color:#000;"><%= @offer.description %></p>

 </div>
 <div style="width:520px; min-height:670px; background:#f8f8f8; margin-right:40px;  float:right; top:0px;  border:1px solid #ccc;" >
 <h1 style="width:100%; height:60px; background:#01334e; margin-top:0; text-align:center; padding:10px;"> <%= @offer.establishment.reason %> </h1>

 <div style=" width:140px; height:140px; margin-left:37%; border:3px solid #01334e; background:#01334e;">
   <%= image_tag(@offer.establishment.imageprofile_url(:banner_thumb)) %>
 </div>
 <div style="width:100%; height:200px; padding:40px;">

   <p style="color:#888; text-align:center;"><i class="icon-large icon-th"><% 
    a =  @offer.establishment.categoryestablishment_id 
    @name = Categoryestablishment.find(a)
   %>
   Categoria: <%= @name.name %></i>
   </p>
   <p style="color:#888; text-align:center;"><i class="icon-large icon-phone"><%= @offer.establishment.phone %></i></p>
   <p style="color:#888; text-align:center;"><i class="icon-large icon-map"><% 
     @end = Addressestablishment.where("establishment_id = ?",@offer.establishment.id)
   %><% @end.each do |adress| %>
   <%= adress.address %>
   <% end %>
   </i></p>

   <h5 style="color:#01334e;">Conheça o estabelecimento:</h5>
   <hr />

   <div id="feedimages" style="width:100%;">
   <ul style="width:100%;">
     
   <% if @feedimages.count <= 0 %>


   <% else %>
      <% @feedimages.each do |imagem| %>
      <li style="width:120px; height:120px;  display:inline; margin-left:20px; margin-bottom:10px; ">
        <%= image_tag(imagem.image_url(:mega_thumb), :style => 'border:1px solid #01334e; margin-bottom:10px;') %>
      </li>
      <% end %>
      <% end %>
   </ul> 
     
   </div>

 </div>

 </div>
</div>

<br />
<br />
<br />
<br />

<div class="TabControl">
 <div id="header">
  <ul class="abas"> 
  <li> 
  <div class="aba"> 
  <span>Condições de uso</span> 
  </div> 
  </li> 
  <li> 
  <div class="aba"> 
  <span>Notas</span> 
  </div> 
  </li> 
  <li> 
  <div class="aba"> 
  <span>Mapa</span> 
  </div> 
  </li> 

  </ul> 
  </div> <!-- Fim header -->
<div id="content"> 
<div class="conteudo"  style="margin-left40px; padding-left:50px;"> 
 <h1 style="color:#000; font-weight:bold; margin-left40px;">Condições de uso</h1>
  <p style="color:#01334e; text-align: justify; width:100%; margin-left40px; margin-bottom:30px;">

    <% @rule.each do |rule| %>
      <%= rule.description %>
    <% end %>
  </p>

 </div> <!-- Fim Tab Conteudo -->
  <div class="conteudo" style="padding-left:50px;"> 
  <h1 style="color:#000; font-weight:bold;">Notas</h1>
  <p style="color:#01334e;">

    <% @note.each do |note| %>
      <%= note.description %>
    <% end %>
  </p>
  </div><!-- Fim Tab Conteudo --> 
  <div class="conteudo" style="width:100%; background:#fff; display:none; height:400px; color:#fff; "> 

   <%= image_tag "http://maps.google.com/maps/api/staticmap?size=800x400&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}", :style => 'width:100%; height:100%;' %>

</div> <!-- Fim Tab Conteudo --> 

</div> <!-- Fim Content -->
</div> <!-- Fim Tab Control -->



<br />
<br />
<br />

</div>
</section>
<!-- Fim de seciton -->



