<h1>Listing commentestabs</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Establishment</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @commentestabs.each do |commentestab| %>
      <tr>
        <td><%= commentestab.comment %></td>
        <td><%= commentestab.establishment %></td>
        <td><%= commentestab.user %></td>
        <td><%= link_to 'Show', commentestab %></td>
        <td><%= link_to 'Edit', edit_commentestab_path(commentestab) %></td>
        <td><%= link_to 'Destroy', commentestab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commentestab', new_commentestab_path %>
