<section id="events" style="background:#f8f8f8; margin-top:">
<div class="container" style="background:#dfdfdf; margin-top:-100px;">
<!-- section header -->   
    <div  style=" width:300px; margin-top:30px; margin-left:30px; height:280px; box-shadow: 5px 5px 5px #000;">
      <%= image_tag @establishment.imageprofile_url(:banner_thumb) %>
    </div>
    <div style="width:70%; float:right; margin-top:-280px;">
    <h1 style="font-weight:bold; padding-left:40px; color:#01334e; "><%= @establishment.reason %></h1>
    <h5 style="padding-left:40px;"> <%= link_to @establishment.site %> </h5>
 
    <blockquote style="color:#000;"> <%= @establishment.description %> </blockquote>

    <div style="width:50px; height:50px; margin-left:40px;">
      <%= link_to image_tag('/home/images/facebookbutom.png'), @establishment.facebook %>
    </div>
    <div style="width:46px; height:46px; margin-left:90px; margin-top:-48px;">
      <%= link_to image_tag('/home/images/twitterbutom.png'), @establishment.twitter %>
    </div>
    <div style="width:186px; color:#000; height:46px; margin-left:150px; margin-top:-48px;">
      <%= 
       image_tag('/home/images/callbutom.png', :style => 'width:46px;')

       %>
       <%= phone_number_link @establishment.phone %>
    </div>
    <div style="width:286px; color:#000; height:46px; margin-left:350px; margin-top:-48px;">
      <%= 
       params[:estabelecimento] = @establishment.id
       link_to image_tag('/home/images/likebutom.png', :style => 'width:46px;'), :action => "likeestab", :estab => params[:estabelecimento]

       %>
      <%= @likes %> Curtiram este estabelecimento.
    </div>

    </div>
    <h3 style="color:#01334e; margin-left:40px; margin-top:30px;">Onde encontrar: </h3>
    <div style="width:600px; height:360px;  margin-left: 40px; margin-top:40px; box-shadow: 5px 5px 5px #000;">

      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=800x400&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
      
    </div>
    <div style="float:right; width:300px; height:380px;  margin-top:-380px; margin-right:180px; ">
           <p style="color:#01334e; margin-left:40px; margin-top:30px;">Endereço:<%= @location.address %> </p>
           
           <p style="color:#01334e; margin-left:40px; margin-top:30px;">E-mail: <%= @establishment.email %> </p>
           <p style="color:#01334e; margin-left:40px; margin-top:30px;">Contato: <%= @establishment.name + " " + @establishment.surname %> </p>
      </div>
    <br>
 <hr />

<h1 style="font-weight:bold; padding-left:40px; color:#01334e; "><%= " Cupons ativos de  "+ @establishment.reason %></h1>
<div style="width:100%;  min-height:500px; padding:15px; margin-bottom:20px;">
  <% @cupons.each do |cupom| %>


      <div class="span4 eblock" id="offerhome">
        <div class="econtainer">
          <div class="ehalf" style="">
           <div class="markerdeal" style="position:absolute; background: url('/home/images/dealthumb.png') no-repeat; width:77px; height:61px; margin-left:102px; margin-top:-10px; ">
            <p style="color:white; font-weight:bold; margin-left:30px; margin-top:10px;"><%= number_to_percentage(get_discount(cupom.id), precision: 0) %> </p>
            <p style="color:white; font-weight:bold; margin-top:-20px; margin-left:30px;">OFF!</p>
           </div>
            <%= image_tag cupom.image1_url(:banner_thumb) %>
          </div>
          <div class="ehalf" style="padding:5px;">
            <h3 style="font-weight:bold;"><a href="#"><%= cupom.establishment.reason %></a></h3>
            
            <i class="icon-home"><span><%= cupom.establishment.city.name %></span></i><br />
            <i class="icon-time"><span><%= cupom.validity.strftime('%d/%m/%y') %></span></i><br />

            <% @produto = Product.find(cupom.product.id) %>
            <p style="color:red;"><strike>De: <%= number_to_currency(@produto.price, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %> </strike></p>
            <h5 style="color:#01334e; margin-top:-20px; font-weight:bold;">Por: <%= number_to_currency(cupom.priceproduct, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></h5>
            <div class="date" style="background:#01334e; color:white;">
              
              <%= link_to 'Pegar', cupom, :idoffer => cupom.id , :style => "color:white;" %>
            </div>            
          </div>
        </div>
      </div>

    <% end %>
</div>
<hr />
<h1 style="font-weight:bold; padding-left:40px; color:#01334e; "><%= " 
Fotos de "+ @establishment.reason %></h1>
<div id="gallryproducts" style="margin-left:50px;">

          <% if @images <= 0 %>

          <% else %>
   <div style="width:90%; min-height:540px; background:#ddd; padding-bottom:10px; margin-left:40px; border:1px solid #ccc; float:left; margin-bottom:40px;" >
  <!-- Slide de fotos da oferta --> 

        <div class="imagem">
             <%= image_tag @establishment.imageprofile_url(:giga) %>
        </div>
        <div class="clear"></div>
        <div class="thumbs">
           
            <% @feedimages.each do |image| %>
            <%= image_tag image.image_url(:giga) %> 
            <% end %>
        </div>
        <br />
       

 </div>
 <% end %>
</div>  
<hr />
<h1 style="font-weight:bold; padding-left:40px; color:#01334e; "><%= " 
Catalogo de "+ @establishment.reason %></h1>
  <div id="box-toggle">

<% @products.each do |product| %>
<div class="tgl" style="width:90%; padding:30px; margin-left:40px; background:#888; border:1px solid #01334e;">
   <h2><%= product.name %></h2>
   <p>Preço: <%= number_to_currency(product.price, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></p>
   <p>Descrição:<br /> <%= product.description %></p>
</div>
<br />
<% end %>

</div>
<hr />
<h1 style="font-weight:bold; padding-left:40px; color:#01334e; ">Comentários 
</h1>
<div style="background:#ddd; width: 90%; margin-left:40px; padding:40px; margin-bottom:30px;">

<% @comments.each do |comment| %>

<blockquote>
  <%= comment.comment %>
</blockquote>
<spam style="color:#01334e; margin-left:40px;">Por: <%= comment.user.name  %></spam>
<hr />
<% end %>  

</div>
<div style="takecomment">
<h3 style="color:#01334e; margin-left:50px;">Comentário:</h3><br />
  <textarea style="width:90%; height:120px; background:#ddd; border:1px solid #01334e; margin-left:50px; margin-bottom:50px; margin-top:-20px;">
    
  </textarea>
  <div style="width:200px; height:40px; padding:15px; background:#01334e; color: white;  float:right; margin-right:50px; margin-bottom:50px;">
  <a href="#" style="color:#fff; margin-left:50px; margin-top:-10px;">Comentar </a>
  </div>
</div>
</section>