
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="description" content="" />
<meta name="keywords" content=""/>
<meta name="author" content="iFollow Agência" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>Traz Cupom - O seu aplicativo de cupons</title>

<link rel="shortcut icon" href="/home/img/icons/favicon.ico">
<link rel="apple-touch-icon" href="/home/img/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/home/img/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/home/img/icons/apple-touch-icon-114x114.png">


<link rel="stylesheet" type="text/css" href="/home/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/bootstrap-responsive.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/sgallery-styles.css"/>
<link media="all" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,800italic,400,300,700,800&amp;subset=latin,latin-ext" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/home/css/metro-icon.css" />

<link rel="stylesheet" type="text/css" href="/home/player/flashblock/flashblock.css" />

<link rel="stylesheet" type="text/css" href="/home/player/css/360player.css" />
<link rel="stylesheet" type="text/css" href="/home/player/css/360player-visualization.css" />

<%= javascript_include_tag 'jquery' %>
<style type="text/css">
	.buttom_twitter{background: #01334e; width: 250px; height: 40px; padding: 10px; color:white;}
	.buttom_twitter a:hover{color:#01334e;}
	.buttom_twitter:hover{background: white;}
</style>
</head>
<body>

<header id="mt-header" class="header-bg-style">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="/home/images/logo01.png" alt="logo"/></a>
			</div>
			<div class="hgroup">
				<h1></h1>
				<h2>Encontre os melhores cupons <br>de sua cidade <span><strong style="color:white;">e obtenha vantagens exclusivas</strong></span>.</h2>
			</div>
		</div> 
</header>

<nav>
	<div class="main-nav">
	<ul  class="perfil">
	<li>
	<% name = current_user.name %>
	<%= link_to name, :controller => 'user', :action => 'profile' %>
	<ul>
			<li><%= link_to('Perfil', :controller => 'user', :action => 'profile') %></li>
            <li><a href="#">Meus Cupons</a></li>

            <li><a href="#">Configurações</a></li>

             <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
	</li>
	</ul>
            <div class="container">
	            <button data-target=".nav-collapse" data-toggle="collapse" class="mobilenav" type="button">
	                  <span class="title">Menu</span><span class="trig icon-align-justify"></span>
	            </button>
	          
	            <div class="nav-collapse collapse">
			        <ul id="navs" class="nav">
			            <li	class="active"><a href="#mt-header">Inicio</a></li>
						<li><a href="#tickets">Últimos Cupons</a></li>
						<li><a href="#partners">Estabelecimentos</a></li>

						<li><a href="#comofunciona">Como Funciona</a></li>
						

						<li><a href="#mapa">Mapa</a></li>
					
			        </ul>			        
	   			</div>
		
            </div>
	</div>	

			  
</nav>

<%= yield %>

<footer style="background:black;">
	<div class="container">
		<div class="copyright">Traz Cupom <p>&copy;2013 Todos os direitos reservados</p></div>
		<div class="info">
			<ul>
				<li><a href="http://www.ifollowagencia.com.br"><img src="/home/images/logo_primary.png" width="140" height="70" /></a></li>

			</ul>

		</div>
	</div>
</footer>
<!--JavaScript-->
<script type="text/javascript" src="/home/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/home/js/scripts.js"></script>
<script type="text/javascript" src="/home/js/sgallery.min.js"></script>
<script type="text/javascript" src="/home/js/screenfull.min.js"></script>
<script type="text/javascript" src="/home/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/home/js/jquery.nav.js"></script>
<script type="text/javascript" src="/home/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/javascripts/endless_page.js"></script>
<!-- special IE-only canvas fix -->
<!--[if IE]><script type="text/javascript" src="player/script/excanvas.js"></script><![endif]-->


<script type="text/javascript" src="/home/player/script/berniecode-animator.js"></script>


<script type="text/javascript" src="/home/player/script/soundmanager2.js"></script>
<script type="text/javascript" src="/home/player/script/360player.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="/home/js/gmap3.js"></script> 

<script type="text/javascript" charset="utf-8">

$('#carregando').hide(); 




$(function() { 

	$(".pagination a").on("click", function(event) {
	 $('#carregando').show(); 
	 $.getScript(this.href); 
	 return false; 
	}); 
}); 





</script>

</body>
</html>