<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="description" content="" />
<meta name="keywords" content=""/>
<meta name="author" content="Metrothenes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>Traz Cupom - O seu aplicativo de cupons</title>
<!--Fav and touch icons-->
<link rel="shortcut icon" href="/home/img/icons/favicon.ico">
<link rel="apple-touch-icon" href="/home/img/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/home/img/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/home/img/icons/apple-touch-icon-114x114.png">

<!--style sheet-->
<link rel="stylesheet" type="text/css" href="/home/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/bootstrap-responsive.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="/home/css/sgallery-styles.css"/>
<link media="all" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,800italic,400,300,700,800&amp;subset=latin,latin-ext" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/home/css/metro-icon.css" />
<!-- soundManager.useFlashBlock: related CSS -->
<link rel="stylesheet" type="text/css" href="/home/player/flashblock/flashblock.css" />
<!-- required -->
<link rel="stylesheet" type="text/css" href="/home/player/css/360player.css" />
<link rel="stylesheet" type="text/css" href="/home/player/css/360player-visualization.css" />
<link rel="stylesheet" type="text/css" href="/home/css/offer.css" />

<%= javascript_include_tag :defaults %>
<style> 
.TabControl{ width:100%; overflow:hidden; min-height:500px; margin-left: 40px;} 
.TabControl #header{ width:50%; overflow:hidden; cursor:hand} 
.TabControl #content{ width:50%; border: solid 1px; height:100%; } 
.TabControl .abas{display:inline;} 
.TabControl .abas li{float:left} 
.aba{width:173px; height:56px; border:1px solid #ccc; text-align:center; padding-top:15px; background:#5e5f5f; margin-left: 10px;} 
.ativa{width:173px; height:56px;  border:1px solid #ccc;  text-align:center; padding-top:15px; background:white; color:#01334e;} 
.ativa span, .selected span{color:#01334e; font-weight: bold;} 
.TabControl #content{background:#fff; border:1px solid #ccc; } 
.TabControl .conteudo{width:50%; background:#fff; display:none; height:100%;color:#fff; } 
.selected{width:173px; height:56px; border:1px solid #ccc;  text-align:center; padding-top:15px; background:#fff}} 

</style>


</head>
<body>
<!-- header -->	
<header id="mt-header" class="header-bg-style">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="/home/images/logo01.png" alt="logo"/></a>
			</div>
			<div class="hgroup">
				<h1></h1>
				<h2>Encontre os melhores cupons <br>de sua cidade <span><strong style="color:white;">e obtenha vantagens exclusivas</strong></span>.</h2>
			</div>
		</div> 
</header>
<!-- header end -->

<!-- nav -->
<nav>
	<div class="main-nav">

            <div class="container">
	            <button data-target=".nav-collapse" data-toggle="collapse" class="mobilenav" type="button">
	                  <span class="title">Menu</span><span class="trig icon-align-justify"></span>
	            </button>
	            <!-- nav menu -->
	            <div class="nav-collapse collapse">
			        <ul class="nav">
			            <li><%= link_to('Perfil', :controller => 'user', :action => 'profile') %></li>
						<li><%= link_to('Configurações', :controller => 'user', :action => 'profile') %></li>
						<li><%= link_to('Meus Cupons', :controller => 'user', :action => 'profile') %></li>

						<li><%= link_to('Voltar ao app', :controller => 'home', :action => 'nearme') %></li>
						<li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>

						
					
			        </ul>
			        
	   			</div>
				<!-- nav menu end-->
			
			        

            </div>
	</div>	

			  
</nav>
<!-- nav end -->
<%= yield %>
<!-- Contact end -->
<footer style="background:black;">
	<div class="container">
		<div class="copyright">Traz Cupom <p>&copy;2013 Todos os direitos reservados</p></div>
		<div class="info">
			<ul>
				<li><i class="mt-html5"></i></li>
				<li><i class="mt-css3"></i></li>
				<li><i class="mt-chrome"></i></li>
				<li><i class="mt-firefox"></i></li>
				<li><i class="mt-safari"></i></li>
				<li><i class="mt-IE"></i></li>
				<li><i class="mt-opera"></i></li>
			</ul>

		</div>
	</div>
</footer>
<!--JavaScript-->
<script type="text/javascript" src="/home/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/home/js/scripts.js"></script>
<script type="text/javascript" src="/home/js/sgallery.min.js"></script>
<script type="text/javascript" src="/home/js/screenfull.min.js"></script>
<script type="text/javascript" src="/home/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/home/js/jquery.nav.js"></script>
<script type="text/javascript" src="/home/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/javascripts/offer.js"></script> 
<!-- special IE-only canvas fix -->
<!--[if IE]><script type="text/javascript" src="player/script/excanvas.js"></script><![endif]-->

<!-- Apache-licensed animation library -->
<script type="text/javascript" src="/home/player/script/berniecode-animator.js"></script>

<!-- the core stuff -->
<script type="text/javascript" src="/home/player/script/soundmanager2.js"></script>
<script type="text/javascript" src="/home/player/script/360player.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="/home/js/gmap3.js"></script> 

<script type="text/javascript">
	
            $(function(){
                //Criamos um evento de click em todas tags img dentro do elemento com class "thumbs"
                $('.thumbs img').bind('click',trocaImagem);
 
            });
 
            function trocaImagem(){
                objClk = $(this); 
                srcImg = objClk.attr('src'); 
                $('.imagem img').attr('src',srcImg);
 
            }
      
</script>
<script type="text/javascript"> 

$(document).ready(function(){  
	$("#content div:nth-child(1)").show();  
	$(".abas li:first div").addClass("selected");	 
	$(".aba").click(function(){  
		$(".aba").removeClass("selected");  
		$(this).addClass("selected");  
		var indice = $(this).parent().index();  
		indice++;  
		$("#content div").hide();  
		$("#content div:nth-child("+indice+")").show(); 
		 }); 
	$(".aba").hover(  
		function(){
			$(this).addClass("ativa")}, 
			function(){
				$(this).removeClass("ativa")}  
				);	 
				 });  

$(elemento).hover( function(){/*função a ser executada ao pôr o cursor sobre o elemento*/}, function(){/*função a ser executada ao tirar o cursor do elemento*/} );


</script>




</body>
</html>